@use 'utilities/style-definitions.scss';
@use '@angular/material' as mat;

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    background: style-definitions.$background-main;
    color: style-definitions.$text-main;
}

img {
    user-select: none;
}

a {
    color: style-definitions.$warn-color;
    transition: 0.2s ease-in-out all;

    &:hover {
        color: style-definitions.$primary-color;
    }
}

/* font sizes */
.header-large {
    font-size: style-definitions.$header-large;
}
.header-main-text {
    font-size: style-definitions.$header-main-text;
}
.header-secondary-text {
    font-size: style-definitions.$header-secondary-text;
}
.main-text {
    font-size: style-definitions.$main-text;
}
.secondary-text {
    font-size: style-definitions.$secondary-text;
}
.label-text {
    font-size: style-definitions.$label-text;
}

/* text colors */
.primary-color-text {
    color: style-definitions.$primary-color;
}
.accent-color-text {
    color: style-definitions.$accent-color;
}
.warn-color-text {
    color: style-definitions.$warn-color;
}

/* other text stylings */
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.margin-header {
    margin: 20px auto !important;
}

/* snackbar panels */
.mat-mdc-snack-bar-container {
    &.snackbar-info {
        --mdc-snackbar-container-color: #{style-definitions.$info} !important;
        --mat-mdc-snack-bar-button-color: #{style-definitions.$white};
        --mdc-snackbar-supporting-text-color: #{style-definitions.$white};

        & .mdc-button__label {
            color: #{style-definitions.$white} !important;
        }
    }

    &.snackbar-success {
        --mdc-snackbar-container-color: #{style-definitions.$success} !important;
        --mat-mdc-snack-bar-button-color: #{style-definitions.$white};
        --mdc-snackbar-supporting-text-color: #{style-definitions.$white};

        & .mdc-button__label {
            color: #{style-definitions.$white} !important;
        }
    }

    &.snackbar-error {
        --mdc-snackbar-container-color: #{style-definitions.$error} !important;
        --mat-mdc-snack-bar-button-color: #{style-definitions.$white};
        --mdc-snackbar-supporting-text-color: #{style-definitions.$white};

        & .mdc-button__label {
            color: #{style-definitions.$white} !important;
        }
    }
}

/* checkbox colors */
@include mat.checkbox-overrides((
    label-text-color: style-definitions.$text-main,
    unselected-icon-color: style-definitions.$text-main,
));

/* input colors */
.mat-mdc-text-field-wrapper {
    background-color: style-definitions.$medium-gray !important;
    input, .mdc-floating-label {
        color: style-definitions.$text-main !important;
    }
}

