<main>
    <h1>Log in to your account</h1>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field color="primary">
            <mat-label>E-mail address: </mat-label>
            <input matInput type="text" formControlName="email" required />
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">You have to fill in this field!</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">Invalid e-mail address!</mat-error>
        </mat-form-field>
        <mat-form-field color="primary"
            ><mat-label>Password: </mat-label>
            <input matInput [type]="hidePasswordLogin ? 'password' : 'text'" formControlName="password" required />
            <button
                type="button"
                mat-icon-button
                color="primary"
                matSuffix
                (click)="hidePasswordLogin = !hidePasswordLogin"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePasswordLogin">
                <mat-icon>{{ hidePasswordLogin ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls.password.hasError('required')"
                >You have to fill in this field!</mat-error
            >
            <mat-error *ngIf="loginForm.controls.password.hasError('pattern')">Invalid password!</mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
        <p id="signup-text" class="secondary-text">
            Don't have an account yet? No worries, sign up <a routerLink="../signup" class="text-bold">here</a> to start your journey!
        </p>
    </form>
</main>
