<nav>
    <a routerLink="product/browse"><mat-icon>phone_android</mat-icon><span>Browse</span></a>
    <a routerLink="order/cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
        @if (cartItemNum > 0) {
            <div id="cart-item-number"><p class="label-text">{{ cartItemNum }}</p></div>
        }
    </a>
    <a *ngIf="currentUser && currentUser.adminToken" routerLink="admin/menu"><mat-icon>person</mat-icon><span>Admin</span></a>
    <a *ngIf="currentUser && !currentUser.adminToken" routerLink="user/profile"><mat-icon>person</mat-icon><span>Profile</span></a>
    <a *ngIf="!currentUser" routerLink="user/login"><mat-icon>person</mat-icon><span>Login</span></a>
</nav>
